<mat-toolbar  class="mat-elevation-z6 sticky-toolbar">
    <mat-toolbar-row class="nav-bar">
        <span routerLink=""><mat-icon>eco</mat-icon>Mind Over Matter</span>
        <span class="spacer"></span>
        <div class="nav-items">
          <a mat-button routerLink="">Blog</a>
          
          <a mat-button>Resources</a>
          <a mat-button>Recovery Tools</a>
          <a mat-button>Self-Care Tips</a>
          <a mat-button>sign in</a>
          <a mat-raised-button color="black" class="custom-button">Get Started</a>
        </div>
      </mat-toolbar-row>
  
  </mat-toolbar>
  